@charset "utf-8";
html,
body,
form,
img,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
b,
u,
i,
p,
em,
td,
th,
input,
textarea,
label,
select,
iframe {
	font-family: "宋体", "Arial Narrow", HELVETICA;
	font-size: 12px;
	color: #333;
	padding: 0;
	margin: 0
}

img {
	font-size: 12px;
	vertical-align: middle
}

input {
	outline: 0
}

td {
	font-family: Arial
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

ul,
li {
	vertical-align: bottom;
	padding: 0;
	margin: 0
}

em,
i {
	font-style: normal
}

li {
	list-style: none
}

ol {
	list-style-type: none;
	list-style: none
}

dd {
	margin-left: 0
}

a img {
	border: 0
}

h1 {
	font-size: 20px
}

h2,
h3 {
	font-size: 14px;
	font-family: "Microsoft YaHei"
}

h4,
h5,
h6 {
	font-size: 12px
}

a {
	color: #666;
	text-decoration: none;
	outline: 0
}

a:hover {
	color: #eb6100;
	text-decoration: underline
}

.fl {
	float: left!important;
	display: inline
}

.fr {
	float: right;
	display: inline
}

.cf:before,
.cf:after {
	content: "";
	display: table
}

.cf:after {
	clear: both
}

.cf {
	zoom: 1
}

.clear {
	clear: both
}

.boxfull {
	width: 100%;
	position: relative
}

.box1200 {
	width: 1200px;
	margin: 0 auto
}

.box990 {
	width: 990px;
	margin: 0 auto
}

.box988 {
	width: 988px;
	margin: 0 auto
}

.box210 {
	width: 210px
}

.box760 {
	width: 760px
}

.box150 {
	width: 150px
}

.box820 {
	width: 820px
}

.box970 {
	width: 970px
}

.box980 {
	width: 980px
}

.m0 {
	margin: 0!important
}

.mt3 {
	margin-top: 3px!important
}

.mt5 {
	margin-top: 5px
}

.mt7 {
	margin-top: 7px
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.mt20 {
	margin-top: 20px
}

.mt25 {
	margin-top: 25px
}

.mt30 {
	margin-top: 30px
}

.mt35 {
	margin-top: 35px
}

.mt40 {
	margin-top: 40px
}

.mt50 {
	margin-top: 50px
}

.mt60 {
	margin-top: 60px
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr15 {
	margin-right: 15px
}

.mr20 {
	margin-right: 20px
}

.mr30 {
	margin-right: 30px
}

.mr35 {
	margin-right: 35px
}

.mr40 {
	margin-right: 40px
}

.mr50 {
	margin-right: 50px
}

.mr60 {
	margin-right: 60px
}

.mt0 {
	margin-top: 0!important
}

.mb0 {
	margin-bottom: 0!important
}

.mb5 {
	margin-bottom: 5px
}

.mb10 {
	margin-bottom: 10px
}

.mb15 {
	margin-bottom: 15px
}

.ml18 {
	margin-left: 18px
}

.mb20 {
	margin-bottom: 20px
}

.mb30 {
	margin-bottom: 30px
}

.mb35 {
	margin-bottom: 35px
}

.mb40 {
	margin-bottom: 40px
}

.mb50 {
	margin-bottom: 50px
}

.mb60 {
	margin-bottom: 60px
}

.ml5 {
	margin-left: 5px
}

.ml10 {
	margin-left: 10px
}

.ml13 {
	margin-left: 10px
}

.ml15 {
	margin-left: 15px
}

.ml17 {
	margin-left: 17px
}

.ml18 {
	margin-left: 18px
}

.ml20 {
	margin-left: 20px
}

.ml23 {
	margin-left: 23px
}

.ml30 {
	margin-left: 30px
}

.ml35 {
	margin-left: 35px
}

.ml40 {
	margin-left: 40px
}

.ml50 {
	margin-left: 50px
}

.ml60 {
	margin-left: 60px
}

.p0 {
	padding: 0!important
}

.pd10 {
	padding: 10px!important
}

.pdl0 {
	padding-left: 0!important
}

.pdr0 {
	padding-right: 0!important
}

.pdl15 {
	padding-left: 15px!important
}

.pdr15 {
	padding-right: 15px
}

.pdm10 {
	padding-bottom: 10px!important
}

.b0 {
	border: 0!important
}

.bdc2 {
	border: 2px solid #f90!important
}

.edge {
	border: 1px solid #dcdcdc
}

.top_edge {
	border-top: 1px solid #dcdcdc
}

.right-edge {
	border-right: 1px solid #dcdcdc
}

.left-edge {
	border-bottom: 1px solid #dcdcdc
}

.bottom-edge {
	border-bottom: 1px solid #dcdcdc
}

.das_rb {
	border-right: 1px dashed #dcdcdc;
	border-bottom: 1px dashed #dcdcdc
}

.das_b {
	border-bottom: 1px dashed #dcdcdc!important
}

.das_r {
	border-right: 1px dashed #dcdcdc
}

.cleb6100 {
	color: #eb6100!important
}

.clf08b0c {
	color: #f08b0c!important
}

.clc6c6c6 {
	color: #c6c6c6
}

.clff0000 {
	color: red!important
}

.clff6900 {
	color: #ff6900!important
}

.cl999 {
	color: #999
}

.cl333 {
	color: #333
}

a.bocka {
	height: 14px;
	line-height: 14px;
	color: #333;
	text-decoration: none;
	padding: 3px;
	display: inline-block;
	margin-right: 5px
}

a:hover.bocka,
a.bockaon {
	height: 14px;
	line-height: 14px;
	color: #763e02!important;
	text-decoration: none!important;
	background-color: #e6ca9a;
	padding: 3px;
	display: inline-block;
	margin-right: 5px
}

a.col333 {
	color: #333
}

a:hover.col333 {
	color: #eb6100;
	text-decoration: underline
}

a.btnnone {
	background-color: #f8f8f6!important;
	color: #382828!important
}

a:hover.orange,
a.orangeon {
	height: 14px;
	line-height: 14px;
	color: #fff!important;
	text-decoration: none!important;
	background-color: #f39800;
	padding: 3px;
	display: inline-block;
	margin-right: 5px
}

.blank5,
.blank10,
.blank15,
.blank20,
.blank25,
.blank30,
.blank40 {
	display: block;
	overflow: hidden;
	clear: both
}

.blank5 {
	height: 5px
}

.blank10 {
	height: 10px
}

.blank15 {
	height: 15px
}

.blank20 {
	height: 20px
}

.blank25 {
	height: 25px
}

.blank30 {
	height: 30px
}

.blank40 {
	height: 40px
}

.line {
	height: 0;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
	clear: both
}

.align-vm {
	vertical-align: middle
}

.align-vt {
	vertical-align: top
}

.align-vb {
	vertical-align: bottom
}

.align-tl {
	text-align: left
}

.align-tc {
	text-align: center
}

.align-tr {
	text-align: right
}

.posrel {
	position: relative
}

.posabs {
	position: absolute
}

.posfix {
	position: fixed
}

.bold {
	font-weight: 700!important
}

.tdlt {
	text-decoration: line-through
}

.hand {
	cursor: pointer
}

.none {
	display: none
}

.block {
	display: block
}

.inlin_block {
	display: inline-block
}

.tac {
	text-align: center!important
}

.tal {
	text-align: left
}

.tar {
	text-align: right
}

.lh25 {
	line-height: 25px
}

.lh35 {
	line-height: 35px
}