
<div id="footer_box">
	
	<div class="footer_bar_box">
		<div class="footer_bar">
			<dl>
				<dt class="ico1"></dt>
				<dd><span>18小时低温</span>全程冷链配送</dd>
			</dl>
			<dl>
				<dt class="ico2"></dt>
				<dd><span>0时差基地直供</span>农田到餐桌</dd>
			</dl>
			<dl>
				<dt class="ico3"></dt>
				<dd><span>43项检测</span>安全无农残</dd>
			</dl>
			<dl>
				<dt class="ico4"></dt>
				<dd><span>7*24小时营业</span>全年无休</dd>
			</dl>
			<dl>
				<dt class="ico5"></dt>
				<dd><span>满60免运费</span>今日下单次日送</dd>
			</dl>
		</div>
	</div>
	<div class="footer">
		<div class="footer_item">
			<dl>
				<dt class="xs">新手指南</dt>
				<dd><a>购物流程</a></dd>
				<dd><a>会员政策</a></dd>
				<dd><a>联系客服</a></dd>
				<dd><a>积分政策</a></dd>
				<dd><a>加入我们</a></dd>
			</dl>
			<dl>
				<dt class="ps">配送方式</dt>
				<dd><a>全程冷链</a></dd>
				<dd><a>配送时间</a></dd>
				<dd><a>配送范围</a></dd>
				<dd><a>收费标准</a></dd>
				<dd><a>关于我们</a></dd>
			</dl>
			<dl>
				<dt class="zf">支付方式</dt>
				<dd><a>在线支付</a></dd>
				<dd><a>其他支付</a></dd>
				<dd><a>优惠券使用</a></dd>
				<dd><a>礼金卡使用</a></dd>
			</dl>
			<dl>
				<dt class="sh">售后服务</dt>
				<dd><a>验货与拒收</a></dd>
				<dd><a>退换货政策</a></dd>
				<dd><a>退换货流程</a></dd>
				<dd><a>退款流程</a></dd>
				<dd><a>发票制度</a></dd>
			</dl>
		</div>
		<div class="page_info">
			<dl>
				<dt>
					<img src="img/tel.gif" width="17" height="13"/>
					客服热线：4008-000-917（周一至周日 8:00-20:00）
				</dt>
				<dd>
					<i><a>加入我们</a></i>
					<i><a>联系我们</a></i>
					<i><a>关于我们</a></i>
					<i><a>友情链接</a></i>
					<i><a>品牌食材</a></i>
					<i><a>营业执照</a></i>
					<i class="b0"><a>食品流通许可证</a></i>
				</dd>
				<dd>
					<span>
						<i>
							<a>
								<img src="img/jinghui.png"/>
								京公网安备 11010502022386号
							</a>
						</i>
					</span>
					<i class="b0">
						<a>京ICP证120338号</a>
					</i>
				</dd>
				<dd>© 2012-2016 Benlai.com. All Rights Reserved. 北京本来工坊科技有限公司</dd>
				<dd>
					<a><img src="img/hexin.jpg" width="102" height="37"/></a>
				</dd>
			</dl>
		</div>
	</div>
</div>
	

